.CreateAccount {
    display: flex;
    flex-direction: row;
  }
  
  .Button {
    text-align: center;
  }
  
  @media screen and (max-width: 800px) {
    .CreateAccount {
      flex-direction: column;
    }
    .column {
      width: 90%;
    }
  }
  